<?xml version="1.0"?>
<config>
    <modules>
        <ITwebexperts_Deliverydates>
            <version>0.1.0</version>
        </ITwebexperts_Deliverydates>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <itwebexperts_deliverydates before="Mage_Adminhtml">ITwebexperts_Deliverydates_Adminhtml</itwebexperts_deliverydates>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <itwebexperts_deliverydates>
                    <file>deliverydates.xml</file>
                </itwebexperts_deliverydates>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <itwebexperts_deliverydates>
                    <file>deliverydates.xml</file>
                </itwebexperts_deliverydates>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <deliverydates>
                <class>ITwebexperts_Deliverydates_Model</class>
                <resourceModel>deliverydates_resource</resourceModel>
            </deliverydates>
            <deliverydates_resource>
                <class>ITwebexperts_Deliverydates_Model_Mysql4</class>
                <entities>
                    <deliveryzones>
                        <table>deliverydates_deliveryzones</table>
                    </deliveryzones>
                </entities>
            </deliverydates_resource>
        </models>
        <helpers>
            <deliverydates>
                <class>ITwebexperts_Deliverydates_Helper</class>
            </deliverydates>
        </helpers>
        <resources>
            <deliverydates_setup>
                <setup>
                    <module>ITwebexperts_Deliverydates</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deliverydates_setup>
            <deliverydates_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deliverydates_read>
            <deliverydates_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deliverydates_write>
        </resources>
        <blocks>
            <deliverydates>
                <class>ITwebexperts_Deliverydates_Block</class>
            </deliverydates>
        </blocks>
    </global>
</config>